[submodule "riscv-binutils-gdb"]
	path = riscv-binutils-gdb
	url = https://github.com/bminor/binutils-gdb.git
[submodule "riscv-gcc"]
	path = riscv-gcc
	url = https://github.com/Canaan-Creative/maix-gcc.git
[submodule "riscv-newlib"]
	path = riscv-newlib
	url = https://github.com/Canaan-Creative/riscv-newlib.git

